[Match]
Name=${PEER_INTERFACE}

[Network]
DHCP=no
LinkLocalAddressing=ipv6
DNS=1.1.1.1
DNS=1.0.0.1
Domains=~.

[Route]
Destination=0.0.0.0/0
Gateway=${GATEWAY_LL}
GatewayOnLink=true

[IPv6AcceptRA]
UseGateway=false
UseDNS=false
